.footer-container {
    display: flex;
    margin-top: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    width: 25rem;
    margin-left: 40%;
    height: 7rem; /* Aumente a altura para o valor desejado */
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    color: #382314;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
.totalMonth h4{
    margin-top: 1rem;
    font-weight: 400;
    font-size: 0.95rem;
}

.totalMonth span{
    display: flex;
    font-size: 2rem;
    padding: 0.25rem;
    font-weight: bold;
}

.fromLastMonth span{
    margin-top: 0.5rem;
    display: flex;
    margin-left: 12rem;
    font-weight: bold;
}

.fromLastMonth h4{
    display: flex;
    margin-left: 8rem;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 0.95rem;
}
